@use '../../partials/_variables' as *;
@use '../../partials/_fonts' as *;
@use '../../partials/_mixins' as *;

.profile {
    width: 100%;
    @include laptop { width: 80%; }
}

.story {
    @include laptop { margin: 0; }
    @include desktop { font-size: 1.5em }
}

.section {
    width: 100%;
    margin-bottom: 2em;
}

h3 {
    font-family: 'Audiowide';
    color: $lightBlue;
}

.skills {
    display: flex;
    justify-content: space-around;
    overflow: auto;

    &-column, p, h3 { 
        min-width: 150px; 
        font-size: 1rem;
    }

    h3 { overflow: auto; }
}