@use './_variables' as *;
@use './_fonts' as *;

// Breakpoints
@mixin mobile {
    @media (max-width: 767px) { @content; }
} 

@mixin tablet {
    @media (min-width: 768px) { @content; }
}

@mixin laptop {
    @media (min-width: 1280px) { @content; }
}

@mixin desktop {
    @media (min-width: 1700px) { @content; }
}

@mixin uhd {
    @media (min-width: 2500px) { @content; }
}

@mixin pc {
    @media (vw > vh) { @content; }
}

@mixin page-2-breakpoints {
    @include mobile { width: 115px; }
    @include tablet { width: 200px; }
}

@mixin btn {
    background-color: $darkBlue;
    color: $lightBlue;
    font-family: 'Audiowide';
    // @include mobile { padding: 10px 0; }
    // @include tablet { padding: 10px 50px; }
    padding: 10px 0;
    @include desktop { padding: 10px 20px; }
    border: 5px solid $lightBlue;
    border-radius: 5px 5px 10px 10px;
}

@mixin content-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 25px;
}