@use '../../partials/_variables' as *;
@use '../../partials/_fonts' as *;
@use '../../partials/_mixins' as *;

.page-nav {
    height: calc(100vh - 250px);
    opacity: .5;
    display: none;
    @include laptop { display: flex; }
    align-items: center;
    margin: 0;
}

.chevron {
    height: 100%;
}